/* reset */
html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

/* common */
.container {
  padding: 0 112px;
  max-width: 1440px;
  margin: 0 auto;
}

.button-outlined {
  font-family: 'Manrope-Semibold', sans-serif;
  color: #ffffff;
  background: none;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 0px 37px;
}

.button-outlined:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.button-outlined:active {
  transform: scale(1);
  transition: 0.1s;
}

.button-contained {
  font-family: 'Manrope-Semibold', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #929cff;
  background: #ffffff;
  height: 76px;
  width: 253px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 0px 30px;
}

.button-contained:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.button-contained:active {
  transform: scale(1);
  transition: 0.1s;
}

.navigation__buttons-group-inner {
  display: flex;
  gap: 41px;
}

/* fonts */
/* normal */
/* @font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gatwick-Bold';
  src: url('../fonts/Gatwick-Bold.woff2') format('woff2'),
    url('../fonts/Gatwick-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* index */
:root {
  --max-screen-size: 1440px;
}

body {
  background-color: #838be3;
  overflow-x: hidden;
}

/* header { */
/* position: relative; */
/* } */

main {
  position: relative;
  z-index: 3;
}

.orbit {
  position: absolute;
  top: -7px;
  left: -31px;
}

.header__button {
  position: relative;
  z-index: 3;
}

.header__glow-1 {
  z-index: 1;
  position: absolute;
  top: -754px;
  left: -37px;
}

.header__glow-2 {
  z-index: 1;
  position: absolute;
  top: -754px;
  left: 153px;
}

.star-suriken-contained-little-bold {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
  top: 42px;
  left: 150px;
}

.star-suriken-contained-little-bold img {
  position: absolute;
  top: -183px;
  left: -260px;
}

.girl-cloud {
  position: absolute;
  background: #ffffff;
  top: 31px;
  left: -73px;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.heart-one-up {
  position: absolute;
  bottom: 219px;
  right: -27px;
  height: 57px;
  width: 100px;
}

.heart-one-up img {
  position: absolute;
  top: 0;
  right: -31px;
}

/* --- navigation  */
.navigation {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-bottom: 19px;
}

.navigation__buttons-group {
  display: flex;
  gap: 77px;
  align-items: center;
  font-family: 'Manrope-Semibold', sans-serif;
  color: #ffffff;
}

.navigation__logo {
  display: flex;
  align-items: center;
}

/* .navigation__link {
  } */

.navigation__intro {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 112px;
}

.navigation__main-text {
  margin-top: 138px;
  align-self: flex-start;
  margin-left: 106px;
  width: 500px;
}

.navigation__title {
  font-family: 'Gatwick-Bold', sans-serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

.navigation__sub-title {
  font-family: 'Manrope-Medium', sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 45px;
}

.navigation__figure {
  position: relative;
}

.navigation__figure-inner {
  position: relative;
  overflow: hidden;
  width: 410px;
  height: 730px;
}

.navigation__figure-inner img {
  position: absolute;
  left: -134px;
  top: 0;
}

/* --- slogan */
.glow-3 {
  position: absolute;
  top: -681px;
  left: -440px;
  z-index: 2;
}
.glow-4 {
  position: absolute;
  top: -171px;
  left: 160px;
  z-index: 3;
}

.slogan {
  padding-top: 45px;
  position: relative;
  padding-bottom: 100px;
  z-index: 1;
}

.slogan__wrapper {
  z-index: 3;
  position: relative;
}

.slogan__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan__text {
  width: 600px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  line-height: 35px;
}

/* --- how-it */
.how-it {
  padding-top: 77px;
  padding-bottom: 77px;
}

.how-it__glow-4 {
  position: absolute;
  top: -719px;
  left: 130px;
}

.how-it__inner {
  position: relative;
  display: flex;
  justify-content: center;
}

.big-circle-image {
  height: 856px;
  width: 856px;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.2;
}

.how-it__love-heart-texted {
  position: absolute;
  top: -31px;
  left: 41px;
  z-index: 2;
  transform: rotate(-9deg);
}

.how-it__title {
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.how-it__text {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  max-width: 466px;
  display: flex;
  justify-content: center;
}

.how-it__circle-wrapper {
  z-index: 3;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.how-it__slogan {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
}

.how-it__phone-screen {
  top: 154px;
  left: -143px;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.how-it__phone-screen img {
  position: absolute;
  top: -159px;
  left: -350px;
}

.how-it__girl-cloud-box {
  position: absolute;
  top: 380px;
  left: 98px;
  display: flex;
  align-items: flex-start;
  z-index: 2;
}

.how-it__guy-cloud-box {
  position: absolute;
  top: 622px;
  left: 282px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  z-index: 2;
  gap: 17px;
}

.how-it__left-cloud {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.how-it__right-cloud {
  background: #ffffff;
  height: 70px;
  display: flex;
  align-items: center;
  font-family: 'Manrope-Regular', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #5b63a7;
  padding: 0 32px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  width: 363px;
  height: 100px;
  background: #fdf4ff;
  box-shadow: 0px 200.649px 81.2151px rgba(124, 128, 156, 0.01),
    0px 113.064px 68.4755px rgba(124, 128, 156, 0.05),
    0px 50.9585px 50.9585px rgba(124, 128, 156, 0.09),
    0px 12.7396px 27.0717px rgba(124, 128, 156, 0.1),
    0px 0px 0px rgba(124, 128, 156, 0.1);
}

.girl-cloud-box-2 {
  top: 480px;
  width: 476px;
}

.left-cloud-2 {
  display: flex;
  align-items: center;
  height: 93px;
}

.how-it__big-star {
  position: absolute;
  top: 338px;
  right: 27px;
  width: 50px;
  height: 50px;
}

.how-it__big-star img {
  top: -563px;
  right: -563px;
  position: absolute;
}

.how-it__little-star {
  position: absolute;
  top: 898px;
  right: 134px;
  width: 50px;
  height: 50px;
}

.how-it__little-star img {
  position: absolute;
  top: -543px;
  right: -544px;
}

/* --- features */
.features {
  position: relative;
  z-index: 4;
  padding-top: 104px;
}

.features__inner {
  position: relative;
}

.feature__star {
  position: absolute;
  bottom: -200px;
  left: 70px;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.feature__star img {
  position: absolute;
  bottom: -490px;
  left: -469px;
}

.feature__glow-5 {
  position: absolute;
  top: -780px;
  right: -980px;
  z-index: 1;
}

.feature__glow-6 {
  position: absolute;
  top: -680px;
  left: -840px;
  z-index: 2;
}

.features__slogan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 63px;
  z-index: 3;
}

.features__title {
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.features__text {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  max-width: 746px;
}

.features__cards {
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: space-between;
}

/* >>> card */
.features__card {
  width: 384px;
  height: 408px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 24px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  overflow: hidden;
  border: 2px solid white;
}

.features__card-icon {
  margin-bottom: 24px;
  z-index: 1;
  position: relative;
  background: #ffffff;
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 555.66px #eee5ff)
    drop-shadow(0px 0px 317.52px #eee5ff) drop-shadow(0px 0px 185.22px #eee5ff)
    drop-shadow(0px 0px 92.61px #eee5ff) drop-shadow(0px 0px 26.46px #eee5ff);
}

.features__card-icon img {
  position: absolute;
  top: 6px;
  left: 6px;
}

.features__card-icon .features__icon-book {
  top: 14px;
  left: 15px;
}

.features__card-icon .features__icon-like {
  top: 12px;
  left: 15px;
}

.features__card-title {
  z-index: 2;
  position: relative;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  width: 252px;
  margin-bottom: 14px;
}

.features__card-text {
  z-index: 2;
  position: relative;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
/* card <<< */

/* --- testimonials */
.testimonials {
  z-index: 2;
  position: relative;
  padding-top: 175px;
  padding-bottom: 275px;
}

.testimonials__glow-7 {
  position: absolute;
  top: -605px;
  left: 170px;
  z-index: 2;
}

.testimonials__glow-8 {
  position: absolute;
  top: -91px;
  left: -830px;
  z-index: 2;
}

.testimonials__title {
  position: relative;
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 51px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  margin-bottom: 46px;
  z-index: 3;
}
.center-slider {
  z-index: 4;
}

.testimonials__text-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonials .center-slider .slick-slide .testimonials__commas {
  width: 30px;
  border-radius: 0;
}

.testimonials .center-slider .slick-slide .testimonials__text {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

/* Default slide */
.testimonials .center-slider .slick-slide {
  color: #fff;
  height: 350px;
  margin: 0 15px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  border-radius: 24px;
  border: 2px solid #ffffff;
}

.testimonials .center-slider .slick-list .slick-track {
  height: 403px;
  margin-top: 53px;
}

.center-slider .slick-slide,
.center-slider
  .slick-slide[aria-hidden='true']:not(.slick-cloned)
  ~ .slick-cloned[aria-hidden='true'] {
  transform: scale(0.8, 0.8);
  transition: all 0.4s ease-in-out;
}

/* Active center slide (You can change anything here for cenetr slide)*/
.center-slider .slick-center,
.center-slider
  .slick-slide[aria-hidden='true']:not([tabindex='-1'])
  + .slick-cloned[aria-hidden='true'] {
  transform: scale(1.3);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
}
.center-slider .slick-current.slick-active {
  transform: scale(1.3);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.4) 0.55%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
}

.slick-next,
.slick-prev {
  z-index: 5;
}

.slick-next {
  right: 15px;
}

.slick-prev {
  left: 15px;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 26px;
}

.testimonials .center-slider .slick-next.slick-arrow:hover,
.testimonials .center-slider .slick-prev.slick-arrow:hover {
  background-color: #ffffff34;
}

.testimonials .center-slider .slick-slide:not(.slick-center) {
  transform: scale(0.6);
}

.testimonials .testimonials__slide {
  display: flex;
  flex-direction: column;
}

.testimonials .center-slider .slick-slide .wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left: 48px;
  padding-right: 48px;
}

.testimonials .center-slider .wrapper {
  gap: 32px;
}

.testimonials .center-slider .slick-slide img {
  width: 180px;
  border-radius: 20px;
}

.testimonials .center-slider .slick-slide .testimonials__text-box {
  padding-top: 27px;
}

.testimonials
  .center-slider
  .slick-slide
  .testimonials__box
  .testimonials__name {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.testimonials
  .center-slider
  .slick-slide
  .testimonials__box
  .testimonials__city {
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.testimonials .center-slider .slick-slide .testimonials__stars {
  margin-right: 50px;
}

.testimonials
  .center-slider
  .slick-slide
  .testimonials__stars
  .testimonials__stars-inner {
  display: flex;
}

.testimonials
  .center-slider
  .slick-slide
  .testimonials__stars
  .testimonials__stars-inner
  .testimonials__star {
  width: 24px;
}

.testimonials .center-slider .slick-dots {
  position: absolute;
  left: 557px;
  bottom: -73px;
  display: flex;
  justify-content: center;
  gap: 6px;
  height: 20px;
}

.testimonials .center-slider .slick-dots button {
  font-size: 0;
  border: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 0;
  transition: 0.4s;
  transform: scale(1);
  cursor: pointer;
}

.testimonials .center-slider .slick-dots .slick-active button {
  transform: scale(1.4);
  transition: 0.4s;
}

.testimonials .center-slider .slick-prev.slick-arrow {
  position: absolute;
  left: 1205px;
  top: 492px;
  font-size: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0;
  border: 2px solid #ffffff;
  background: #ffffff00;
  background: url(../images/arrow-left.svg) no-repeat;
  background-position-x: 13px;
  background-position-y: 13px;
  cursor: pointer;
}

.testimonials .center-slider .slick-next.slick-arrow {
  position: absolute;
  left: 1280px;
  top: 492px;
  font-size: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 0;
  border: 2px solid #ffffff;
  background: #ffffff00;
  background: url(../images/arrow-left.svg) no-repeat;
  background-position-x: 13px;
  background-position-y: 13px;
  transform: scaleX(-1);
  cursor: pointer;
}

/* --- in-touch */
.in-touch {
  position: relative;
  z-index: 5;
  padding-bottom: 182px;
}

.in-touch__inner {
  position: relative;
}

.in-touch__big-star {
  overflow: hidden;
  position: absolute;
  top: 700px;
  right: 130px;
  width: 138px;
  height: 138px;
  z-index: 0;
}

.in-touch__big-star img {
  top: -498px;
  right: -522px;
  position: absolute;
}

.in-touch__form {
  display: flex;
  justify-content: center;
}

.in-touch__form-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.in-touch__input {
  height: 64px;
  width: 592px;
  border-radius: 24px;
  border: 2px solid #ffffff;
  background: none;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  padding-left: 23px;
  padding-right: 23px;
  color: #ffffff;
  outline: none;
}

.in-touch__input::placeholder,
.in-touch__message::placeholder {
  color: #ffffff;
}

.in-touch__message {
  border-radius: 24px;
  border: 2px solid #ffffff;
  background: none;
  padding: 23px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  outline: none;
  color: #ffffff;
  width: 100%;
}

.in-touch__button {
  width: 256px;
  margin-top: 13px;
  height: 75px;
}

/* --- what-to */
.what-to {
  position: relative;
  z-index: 0;
  padding-bottom: 125px;
}

.what-to__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-to__star {
  position: absolute;
  top: 240px;
  left: 0;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.what-to__star img {
  position: absolute;
  top: -517px;
  left: -530px;
}

.what-to__glow-91 {
  position: absolute;
  top: -725px;
  left: -361px;
}

.what-to__glow-10 {
  position: absolute;
  top: -427px;
  left: 144px;
}

.what-to__glow-11 {
  position: absolute;
  top: -617px;
  left: 536px;
}

/* --- footer */
footer {
  padding-bottom: 57px;
}

.what-to__slogan {
  position: relative;
  margin-bottom: 61px;
}

.what-to__button {
  position: relative;
  z-index: 10;
}

.what-to__title {
  line-height: 54px;
  font-family: 'Gatwick-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}

.what-to__text {
  margin-bottom: 10px;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.features__text {
  margin-bottom: 10px;
}

.footer__links {
  position: relative;
  margin: 0 auto 74px auto;
  max-width: 592px;
  display: flex;
  justify-content: space-between;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer__sub {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
}

/* slick */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
